{% extends 'back.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
<br>
   <h1 style="color: #007bff; font-family: 'Times New Roman', Times, serif;">
   <br>
    <i class="fas fa-book"></i> Modifier Reservation</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
 <br>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}
<br>
    <a href="{{ path('app_reservation_index') }}" class="btn btn-primary">
  <i class="bi bi-arrow-left"></i> Back to List
</a>
<br>


    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
