{% extends 'back.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <br>
   <h1 style="color: #007bff; font-family: 'Times New Roman', Times, serif;">
   <br>
    <i class="fas fa-book"></i> Ajouter Reservation</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
 <br>

    {{ include('reservation/_form.html.twig') }}

 
{% endblock %}
